.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

body {
    margin: 0;
}

html,
body {
    height: 100%;
}

.resultBox {
    
}